body {
    overflow-x: hidden;
}
.content img {
    max-width: 100%;
}
nav.tabs {
    position: sticky;
    top:70px;
    z-index: 1;
    button {
        background: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.3rem;
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-right: none;
        padding: .5rem 1rem;
        font-weight: 200;
        width: calc(100% + 30px);
        text-align: left;
        outline: none;
        &.tabs__item_active {
            font-weight: bold;
            position: relative;
            z-index: 1;
            &:after, &:before {
                left: calc(100% - 1px);
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                // transform: scale(0.76) translateX(-10px);
            }
            
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #ffffff;
                border-width: 24px;
                margin-top: -24px;
            }
            &:before {
                border-color: rgba(221, 221, 221, 0);
                border-left-color: #ddd;
                border-width: 25px;
                margin-top: -25px;
            }
        }
    }
}

.thin {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}


//  Transitions
/* Fade */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  
  /* Slide fade */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
  
  /* Bounce */
  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .menu {
    .menu-items {
        position: relative;
        &:before {
            content: '';
            width: 80px;
            border-top: 1px solid white;
            display: block;
            margin-bottom: 45px;
        }
    }

    .menu-item {
        position: relative;
        &:after {
            content: '';
            width: 80px;
            border-top: 1px solid white;
            display: block;
            margin-top: 45px;
        }
        &.active {
            .menu-title {
                position: relative;
                &:before {
                    content: ">";
                    font-family: Roboto;
                    font-size: 4rem;
                    font-weight: 100;
                    line-height: 0;
                    position: absolute;
                    right: 0;
                    top:50%;
                    transform:translateY(-50%);
                    transition: all 200ms;
                }
            }
        }
    }

    // .sub-menu {
    //     position: relative;
    //     &:before {
    //         content: '';
    //         width: 35px;
    //         border-top: 1px solid white;
    //         display: block;
    //         margin-bottom: 15px;
    //     }  
    // }
    .sub-menu-item,
    .sub-topic-item {
        padding-right: 1rem;
        position: relative;
        &:after {
            content: '';
            width: 35px;
            // border-top: 1px solid white;
            display: block;
            margin-top: 15px;
        }
            .sub-menu-title,
            .sub-topic-title {
                &.active {
                    position: relative;
                    &:before {
                        content: ">";
                        font-family: Roboto;
                        font-size: 2rem;
                        font-weight: 100;
                        line-height: 0;
                        position: absolute;
                        left: calc(100% + 15px);
                        top:50%;
                        transform:translateY(-50%);
                        transition: all 200ms;
                    }
                }
            }
    }
  }
  
  
  .sub-topic-title {
    &.active {
        &:before {
            left: 100%!important;
        }
    }
}

  .sub-topics {
      color: #4D4D4D;
  }
  //  Grid
.columns-2 {
    position: relative;
    width: 66.66%;
    padding: 0 30px;
  }
  .columns-3 {
    position: relative;
    width: 33.333%;
    padding: 0 30px;
  
  }

  .content {
      font-weight: 400;
      font-family: lato;
      font-size: 14px;
  }

  .more {
    color: #4D4D4D;
    display: block;
    padding-left: 2rem;
    margin-top:2rem;
    position: relative;
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 3rem;
      position: absolute;
      left: 0;
      top:50%;
      transform:translateY(-50%);
      line-height: 0;
    }
    &:after {
      content: "";
      width: 300px;
      border-top: 1px solid #4D4D4D;
      position: absolute;
      left: 0;
      top:-20px;
    }
  }

  h2 {
    font-size: 36px!important;
  }

  .topics, .countries {
    font-family: lato;
  }






  .collapsible-panel__actions{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:right}.collapsible-panel__arrow{max-height:1rem;max-width:1rem;margin-right:.5rem;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:-webkit-transform .33s ease-out;transition:-webkit-transform .33s ease-out;transition:transform .33s ease-out;transition:transform .33s ease-out,-webkit-transform .33s ease-out}.collapsible-panel__arrow--expanded{-webkit-transform:rotate(0deg);transform:rotate(0deg)}.collapsible-panel__container{margin:0;padding:.3rem}.collapsible-panel__header{border-bottom:1px solid #dfdfdf;color:#333;padding:.3rem}.collapsible-panel__header,.collapsible-panel__headline{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.collapsible-panel__headline{background-color:transparent;border:none;color:#666;cursor:pointer;margin:0;padding:.3rem 0}.fade-bottom-enter-active,.fade-bottom-leave-active{-webkit-transition:-webkit-transform .33s ease-out;transition:-webkit-transform .33s ease-out;transition:transform .33s ease-out;transition:transform .33s ease-out,-webkit-transform .33s ease-out;height:auto;-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:bottom;transform-origin:bottom}.fade-bottom-enter,.fade-bottom-leave-to{-webkit-transform:scaleY(0);transform:scaleY(0)}.fade-enter-active,.fade-leave-active{-webkit-transition:-webkit-transform .33s ease-out;transition:-webkit-transform .33s ease-out;transition:transform .33s ease-out;transition:transform .33s ease-out,-webkit-transform .33s ease-out;height:auto;-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:top;transform-origin:top}.fade-enter,.fade-leave-to{-webkit-transform:scaleY(0);transform:scaleY(0)}

  
button {
  outline: none!important;
}


@media(max-width: 700px) {
  #minimap-container {
    display: none;
  }

  .searchbar {
    display: none;
  }
  .cols.content-cols {
    display: block!important;
    > div {
      width: 100%;
      max-width: 100%;
      display: block;
    }
    .content-page {
      margin-top: 0;
    }

  }
}